* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: -webkit-radial-gradient(circle, rgb(192, 208, 214) 1%, rgb(194, 215, 224) 100%);
}

/************************* nav */

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
    padding: 1rem 0;
}

nav a {    
    text-decoration: none;
    color:#ecf3f3;
    background-color: #5291a8;
    padding: 0.5rem 1rem;  
    border-radius: 5px;
    transition: .5s;
    font-size: 1.2rem;
}

nav p {
    margin:0;
}

nav a:first-child {
    font-size: 1.5rem;
    position:relative;
}

nav a:hover, table+a:hover {
    color:#2E2C23;
    background-color: rgb(214, 228, 233);    
}

/************************* index */

h1 {
    color:#2E2C23;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    width:40%;
    border-radius:25px;
    padding:2rem;
    background-color: rgb(214, 228, 233);
    transition: .5s;
}

form p {
    margin:0;
}

form label {
    display: flex;
    width:60%;
    flex-direction: column;
    color:#2E2C23;
    font-weight: 500;
    font-size: 1.2rem;
}

form input {
    border-radius: 5px;
    border: none;
    outline:none;
    height: 1.75rem;
    transition:.5s;
}

form input:focus {
    translate:5px;
}

form p:last-of-type input {
    font-size: 1.2rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: .5s;
}

form p:last-of-type {
    width:fit-content;
}

form p:last-of-type:hover input {
    translate:7.5px;
    background-color: #5291a8;
    color:#ecf3f3;
    cursor:pointer;
}

/* ************************** recap */

#products_list {
    border-collapse:collapse;
    padding:5px;
    margin:1.5rem 0;
    background-color: rgb(214, 228, 233);
}

#products_list tfoot tr, thead {
    background-color: rgb(245, 245, 245);
}

#products_list th {
    font-size: 0.85rem;
    padding:1.25rem;
    text-align: start;
}

#products_list td {
    padding:1.25rem;
    border-top: 1px rgb(202, 202, 202) solid;
}

#products_list td:last-of-type {
    width:5%;
}

#products_list td:last-of-type a {
    display: inline-flex;
    text-decoration: none;
    font-weight: 500;
    color:#2E2C23;
    width: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .5s;
}

#products_list td:last-of-type a:hover {
    transform: scale(1.5);
    color:rgb(170, 49, 49);
}

.change_qtt {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0.5rem;
    font-size: 1rem;
    color: #2E2C23;
    background-color: #ecf3f3;
    width: 18px;
    border-radius: 50%;
    transition: .3s;
}

.change_qtt:first-child:hover {
    transform: scale(1.1);
    background-color:rgb(170, 49, 49);
    color: #ecf3f3;
}

.change_qtt:last-child:hover {
    transform: scale(1.1);
    background-color: #2fb933;
    color: #ecf3f3;
}

table + a {
    display: inline-flex;
    text-decoration: none;
    font-weight: 500;
    color:#2E2C23;
    background-color: #ecf3f3;
    padding:0.75rem;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

table + a:hover {
    background-color:#5291a8;
    color:#ecf3f3;
    translate:7.5px;
}

h3 {
    font-size: 1.5rem;
    background: #F0F0F0;
    color: #2E2C23;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 300;
    width: fit-content;
    margin: 0;
}

/* ************************** product details modal */

/* Styles pour la modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

  
/* Styles pour le contenu de la modal */
.modal_content {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer le contenu de la modal horizontalement et verticalement */
    max-width: 80%; /* Limiter la largeur du contenu pour éviter que la modal ne soit trop grande sur les écrans larges */
}

.modal_btn {
    cursor:pointer;
}

.modal_content img {
    width:40%;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.5rem;
}
  
/* Styles pour le bouton de fermeture */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    transition: .3s;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  